# Ignora la carpeta target
target

# Ignora la carpeta bin
bin

# Ignora la carpeta .settings
**.settings

# Ignora el archivo .classpath
**/.classpath

# Ignora el archivo todo.txt
**todo.txt

# Ignora el archivo todo.txt
**/todo.txt

# Ignora el archivo dependency-reduced-pom.xml
**/dependency-reduced-pom.xml

# Ignora el archivo dependency-reduced-pom.xml
**dependency-reduced-pom.xml

# Ignora el archivo .project
**/.project

# Ignora todos los archivos bak
*.bak

# Ignora todos los archivos bak
**/*.bak

# Ignora todos los archivos jarinjar
**superlobby-plugin.jarinjar


# Ignora todos los archivos jarinjar
**/superlobby-plugin.jarinjar